StudentWCFConsumerDotNetFramework/Connected Services/StudentServiceReference/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
      <xs:element name="RollNo" type="xs:int" />
      <xs:element minOccurs="0" name="Marks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentBO" nillable="true" type="tns:StudentBO" />
  <xs:complexType name="HeaderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderInfo" nillable="true" type="tns:HeaderInfo" />
</xs:schema>