StudentWCFConsumerDotNetFramework/Connected Services/StudentServiceReference/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54072/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54072/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54072/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication" />
      <xsd:import schemaLocation="http://localhost:54072/StudentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentervice_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IStudentervice_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentervice_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IStudentervice_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentervice_Welcome_InputMessage">
    <wsdl:part name="parameters" element="tns:Welcome" />
  </wsdl:message>
  <wsdl:message name="IStudentervice_Welcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:WelcomeResponse" />
  </wsdl:message>
  <wsdl:message name="StudentInfoRequest">
    <wsdl:part name="parameters" element="tns:StudentInfoRequest" />
  </wsdl:message>
  <wsdl:message name="StudentInfoRequest_Headers">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="StudentInfoResponse">
    <wsdl:part name="parameters" element="tns:StudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="StudentInfoResponse_Headers">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:portType name="IStudentervice">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/GetData" message="tns:IStudentervice_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/GetDataResponse" message="tns:IStudentervice_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/GetDataUsingDataContract" message="tns:IStudentervice_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/GetDataUsingDataContractResponse" message="tns:IStudentervice_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Welcome">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/Welcome" message="tns:IStudentervice_Welcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/WelcomeResponse" message="tns:IStudentervice_Welcome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/CreateStudent" name="StudentInfoRequest" message="tns:StudentInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/CreateStudentResponse" name="StudentInfoResponse" message="tns:StudentInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/UpdateStudent" name="StudentInfoRequest" message="tns:StudentInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/UpdateStudentResponse" name="StudentInfoResponse" message="tns:StudentInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentervice/DeleteStudent" name="StudentInfoRequest" message="tns:StudentInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentervice/DeleteStudentResponse" name="StudentInfoResponse" message="tns:StudentInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentervice" type="tns:IStudentervice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Welcome">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/Welcome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/CreateStudent" style="document" />
      <wsdl:input name="StudentInfoRequest">
        <soap:header message="tns:StudentInfoRequest_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StudentInfoResponse">
        <soap:header message="tns:StudentInfoResponse_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/UpdateStudent" style="document" />
      <wsdl:input name="StudentInfoRequest">
        <soap:header message="tns:StudentInfoRequest_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StudentInfoResponse">
        <soap:header message="tns:StudentInfoResponse_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentervice/DeleteStudent" style="document" />
      <wsdl:input name="StudentInfoRequest">
        <soap:header message="tns:StudentInfoRequest_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StudentInfoResponse">
        <soap:header message="tns:StudentInfoResponse_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentervice" binding="tns:BasicHttpBinding_IStudentervice">
      <soap:address location="http://localhost:54072/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>